/* hello there. why are you searching through my code? it's as good as a DIY project.. */
:root { /* variables go here */
    --something: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;
}

#plot {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.on{
    height: 100vh;
    width: 30vw;
    background-color: white; /* temporary color, change later */
    box-shadow: 1px 0px 8px 1px darkgrey;
}

.off {
    display: none;
}

.sidebar-container {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#sidebar-reveal {
    margin-top: 5px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    color: black;
}

.equation {
    display: grid;
    box-shadow: 0px 2px 0 0 grey;
    grid-template-areas: 'equation-color equation-delete'
                         'equation-formula equation-formula';
    grid-template-columns: 94% 6%; /* need to make equation-formula take up the whole row properly. */
    width: 100%;
    height: 10vh;
}

.equation-color {
    background-color: red; /* todo: make a color selector for this */
    border: 1px solid #cc0000; /* this is just a color that is darker than background-color by #333333. */
}

.equation-delete {
    /* finish this later */
}

.equation-formula {
    height: 100%;
    padding-left: 10px;
    font-size: 30px;
    border: none;
}

#equation-add {
    display: flex;
    padding: 0;
    margin: 0;
    height: 8vh;
    align-items: center; 
    justify-content: center;
    font-size: 40px;
    background-image: linear-gradient(to top,white, darkgrey);
}