/* hello there. why are you searching through my code? it's as good as a DIY project.. */
:root { /* variables go here */
    --something: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#plot {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#siderbar {
    margin: 0;
    padding: 0;
}

.on{
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 30vw;
    background-color: white; /* temporary color, change later */
    box-shadow: 1px 0px 8px 1px darkgrey;
}

.sidebar-reveal {
    position: absolute;
    left: calc(100% + 10px); /* i didn't know css could be so...easy.... am i dreaming? */
    height: 50px;
    width: 50px;
    color: black;
}

.equation {
    display: grid; /* i didnt make this. if you see gridbox or flexbox, thats probrably not me writing it. that's my mom. say hi to her. */
    box-shadow: 0px 2px 0 0 grey;
    grid-template-areas: 'equation-color equation-delete'
                         'equation-formula equation-formula';
    grid-template-columns: 94% 6%; /* need to make equation-formula take up the whole row properly. */
    width: 100%;
    height: 10vh;
}

.equation-color {
    background-color: red; /* todo: make a color selector for this */
    border: 1px solid #cc0000; /* this is just a color that is darker than background-color by #333333. */
}

.equation-delete {
    
}

.equation-formula {
    height: 100%;
    padding-left: 10px;
    font-size: 30px;
    border: none;
}

#equation-add {
    display: flex;
    padding: 0;
    margin: 0;
    height: 8vh;
    align-items: center; 
    justify-content: center;
    font-size: 40px;
    background-image: linear-gradient(to top,white, darkgrey);
}