:root {
    --canvas-width: 400px;
    --canvas-height: 400px;
}

body {
    padding: 1rem;
    margin: 0px;
}

main {
    display:  grid;
    grid-auto-columns: 3fr 2fr;
    gap: 1rem;
    grid-template-areas: 
    'canvas aside' 
    'canvas-down aside';
    }


    @media (max-width: 600px) {
        main {
            grid-template-areas: 'canvas'
                                 'canvas-down'
                                 'aside ';
            } 
    }

input {
    margin: 5px;
}

#plot {
    margin-bottom: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 150px;
    width: 300px;
    grid-area: canvas;
}

#user-variables {
    margin-top: 50px
}

.eq {
    grid-area: canvas-down;
}

main aside {
    grid-area: aside;
}

canvas {
    margin: auto;
    position: absolute;
}